# Git configuration file.

[advice]
    statusHints = false

[alias]
    git = !git
    l = !git ll -16
    ll = log --all --topo-order --abbrev-commit --date=relative --pretty='%C(bold red)%h%C(reset) - %s %C(bold yellow)%d%C(reset) %C(bold green)(%cr) %C(bold blue)<%an>%C(reset)'
    oops = commit --amend --no-edit
    undo = reset --soft HEAD^

[color]
    ui = true

[core]
    editor = nvim
    symlinks = true

[completion]
    commands = -gitk

[diff]
    tool = nvimdiff

[fetch]
    prune = true

[init]
	defaultBranch = main

[merge]
	tool = nvimdiff3

[user]
    email = lixaft@gmail.com
    name = Fabien Taxil
