# Git configuration file.

[advice]
    statusHints = false

[alias]
    git = !git
    plog = log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(bold blue)(%ar)%C(reset) %s %C(bold black)%an%C(reset)%C(bold green)%d%C(reset)'
    tree = !git ls-tree -r --name-only HEAD | tree --fromfile -C

[color]
    ui = true

[core]
    editor = nvim
    symlinks = true

[completion]
    commands = -gitk

[fetch]
    prune = true

[init]
	defaultBranch = main

[user]
    email = lixaft@gmail.com
    name = Fabien Taxil
